-- MySQL dump 10.13  Distrib 9.0.1, for Win64 (x86_64)
--
-- Host: localhost    Database: gc_erp
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `gc_erp`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `gc_erp` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `gc_erp`;

--
-- Table structure for table `app_user`
--

DROP TABLE IF EXISTS `app_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password_hash` varchar(80) COLLATE utf8mb4_general_ci NOT NULL,
  `password_salt` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `display_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `role_code` varchar(30) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'ADMIN/SERVICE/ENGINEER/FINANCE/PRODUCTION',
  `enabled` tinyint NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_app_user_role` (`role_code`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_user`
--

LOCK TABLES `app_user` WRITE;
/*!40000 ALTER TABLE `app_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract`
--

DROP TABLE IF EXISTS `contract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contract` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_no` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `customer_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `customer_phone` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  `customer_address` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `demand_desc` text COLLATE utf8mb4_general_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `production_progress` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `contract_no` (`contract_no`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract`
--

LOCK TABLES `contract` WRITE;
/*!40000 ALTER TABLE `contract` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract_cad_file`
--

DROP TABLE IF EXISTS `contract_cad_file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contract_cad_file` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `contract_no` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `file_ext` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `file_path` varchar(500) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_contract_cad_contract_id` (`contract_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract_cad_file`
--

LOCK TABLES `contract_cad_file` WRITE;
/*!40000 ALTER TABLE `contract_cad_file` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract_cad_file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `customer_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `phone` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `address` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `level` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `owner` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_code` (`customer_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_followup`
--

DROP TABLE IF EXISTS `customer_followup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_followup` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id` bigint NOT NULL,
  `content` text COLLATE utf8mb4_general_ci NOT NULL,
  `next_plan` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `creator` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_customer_followup_customer_id` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_followup`
--

LOCK TABLES `customer_followup` WRITE;
/*!40000 ALTER TABLE `customer_followup` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_followup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_requirement`
--

DROP TABLE IF EXISTS `customer_requirement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_requirement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id` bigint NOT NULL,
  `requirement_type` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `requirement_desc` text COLLATE utf8mb4_general_ci NOT NULL,
  `budget_range` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `style_preference` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `creator` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_customer_requirement_customer_id` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_requirement`
--

LOCK TABLES `customer_requirement` WRITE;
/*!40000 ALTER TABLE `customer_requirement` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_requirement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finance_voucher`
--

DROP TABLE IF EXISTS `finance_voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `finance_voucher` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `contract_no` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `file_ext` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `file_path` varchar(500) COLLATE utf8mb4_general_ci NOT NULL,
  `created_by` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_finance_voucher_contract_id` (`contract_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finance_voucher`
--

LOCK TABLES `finance_voucher` WRITE;
/*!40000 ALTER TABLE `finance_voucher` DISABLE KEYS */;
/*!40000 ALTER TABLE `finance_voucher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material`
--

DROP TABLE IF EXISTS `material`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `material` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `material_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `material_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `material_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `unit` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `spec` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `color` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `length_mm` decimal(12,2) DEFAULT NULL,
  `width_mm` decimal(12,2) DEFAULT NULL,
  `thickness_mm` decimal(12,2) DEFAULT NULL,
  `image_url` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `material_code` (`material_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material`
--

LOCK TABLES `material` WRITE;
/*!40000 ALTER TABLE `material` DISABLE KEYS */;
/*!40000 ALTER TABLE `material` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation_log`
--

DROP TABLE IF EXISTS `operation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `module` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `action` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `operator` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `target_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `target_id` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `before_data` longtext COLLATE utf8mb4_general_ci,
  `after_data` longtext COLLATE utf8mb4_general_ci,
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_operation_module` (`module`),
  KEY `idx_operation_operator` (`operator`),
  KEY `idx_operation_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation_log`
--

LOCK TABLES `operation_log` WRITE;
/*!40000 ALTER TABLE `operation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_record`
--

DROP TABLE IF EXISTS `payment_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_record` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `pay_status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `pay_channel` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `checked_by` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `checked_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_payment_contract_id` (`contract_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_record`
--

LOCK TABLES `payment_record` WRITE;
/*!40000 ALTER TABLE `payment_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_rule`
--

DROP TABLE IF EXISTS `price_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rule_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `rule_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `price_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `price_value` decimal(12,2) DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rule_code` (`rule_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_rule`
--

LOCK TABLES `price_rule` WRITE;
/*!40000 ALTER TABLE `price_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `process_rule`
--

DROP TABLE IF EXISTS `process_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `process_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rule_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `rule_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `rule_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `rule_content` text COLLATE utf8mb4_general_ci,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rule_code` (`rule_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `process_rule`
--

LOCK TABLES `process_rule` WRITE;
/*!40000 ALTER TABLE `process_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `process_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `product_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `category` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `unit` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `spec` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `material_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `color` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `unit_price` decimal(12,2) DEFAULT NULL,
  `thickness` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `image_url` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `unit_price_unit` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `thickness_unit` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `product_code` (`product_code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_task`
--

DROP TABLE IF EXISTS `production_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_task` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `task_no` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `process_plan` varchar(1000) COLLATE utf8mb4_general_ci NOT NULL,
  `assignee` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `task_status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `task_no` (`task_no`),
  KEY `idx_production_contract_id` (`contract_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_task`
--

LOCK TABLES `production_task` WRITE;
/*!40000 ALTER TABLE `production_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `production_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quotation`
--

DROP TABLE IF EXISTS `quotation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quotation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `quote_desc` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_by` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `assignment_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_quotation_contract_id` (`contract_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quotation`
--

LOCK TABLES `quotation` WRITE;
/*!40000 ALTER TABLE `quotation` DISABLE KEYS */;
INSERT INTO `quotation` VALUES (2,1,16640.00,'','鎶ヤ环鍛?,NULL,NULL,NULL,NULL,'2026-05-07 20:58:17',NULL),(3,1,5289.20,'','鎶ヤ环鍛?,NULL,NULL,NULL,NULL,'2026-05-07 21:07:28',NULL),(4,1,2580.00,'','璧垫繁鍖?,NULL,NULL,NULL,NULL,'2026-05-08 23:22:51',3),(5,1,8880.00,'','瀛欐繁鍖?,NULL,NULL,NULL,NULL,'2026-05-08 23:23:16',2),(7,3,3000.00,'','闄堟繁鍖?,NULL,NULL,NULL,NULL,'2026-05-09 00:29:36',5),(8,4,1600.00,'','闄堟繁鍖?,NULL,NULL,NULL,NULL,'2026-05-09 00:44:43',6),(9,5,3200.00,'','璧垫繁鍖?,NULL,NULL,NULL,NULL,'2026-05-09 19:51:05',8),(10,6,1600.00,'','闄堟繁鍖?,NULL,NULL,NULL,NULL,'2026-05-09 19:54:50',9),(11,8,800.00,'','璧垫繁鍖?,NULL,NULL,NULL,NULL,'2026-05-10 08:03:50',12);
/*!40000 ALTER TABLE `quotation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_assignment`
--

DROP TABLE IF EXISTS `quote_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quote_assignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `contract_no` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `service_staff` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `engineer` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_quote_assignment_contract_id` (`contract_id`),
  KEY `idx_quote_assignment_engineer` (`engineer`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_assignment`
--

LOCK TABLES `quote_assignment` WRITE;
/*!40000 ALTER TABLE `quote_assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_detail`
--

DROP TABLE IF EXISTS `quote_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quote_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quote_id` bigint DEFAULT NULL,
  `product_name` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `material_structure` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `width_mm` decimal(12,2) NOT NULL,
  `height_mm` decimal(12,2) NOT NULL,
  `thickness_mm` decimal(12,2) DEFAULT NULL,
  `quantity` int NOT NULL,
  `hinge_hole` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `process_desc` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `attachment_name` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `unit` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'm?',
  `area_m2` decimal(12,4) NOT NULL,
  `base_unit_price` decimal(12,2) NOT NULL,
  `special_adjust_total` decimal(12,2) NOT NULL,
  `final_unit_price` decimal(12,2) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `selected_rule_ids` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_rule_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_quote_detail_quote_id` (`quote_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_detail`
--

LOCK TABLES `quote_detail` WRITE;
/*!40000 ALTER TABLE `quote_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_special_rule`
--

DROP TABLE IF EXISTS `quote_special_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quote_special_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rule_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `rule_name` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `adjust_mode` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'FIXED_PER_M2/PERCENT/FIXED_PER_ITEM',
  `adjust_value` decimal(12,2) NOT NULL,
  `enabled` tinyint NOT NULL DEFAULT '1',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `unit_desc` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `min_area_m2` decimal(12,4) DEFAULT NULL,
  `min_charge` decimal(12,2) DEFAULT NULL,
  `max_charge` decimal(12,2) DEFAULT NULL,
  `rule_category` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rule_code` (`rule_code`),
  KEY `idx_quote_special_rule_name` (`rule_name`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_special_rule`
--

LOCK TABLES `quote_special_rule` WRITE;
/*!40000 ALTER TABLE `quote_special_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_special_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `staff_code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `staff_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `role_type` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `process_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `phone` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `custom_text1` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text2` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `custom_text3` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `staff_code` (`staff_code`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_log`
--

DROP TABLE IF EXISTS `workflow_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `from_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `to_status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `operator` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `remark` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_contract_id` (`contract_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_log`
--

LOCK TABLES `workflow_log` WRITE;
/*!40000 ALTER TABLE `workflow_log` DISABLE KEYS */;
INSERT INTO `workflow_log` VALUES (1,1,NULL,'PENDING_DESIGN','绯荤粺','鍒涘缓鍚堝悓','2026-05-04 22:05:57'),(2,1,'PENDING_DESIGN','PENDING_QUOTE','11','鍓嶇鎵嬪姩娴佽浆','2026-05-04 22:06:12'),(3,2,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-08 23:36:51'),(4,1,'PENDING_QUOTE','寰呭鏈嶄粯娆?,'绯荤粺','鍏煎杩佺Щ鍘嗗彶鐘舵€?,'2026-05-09 00:10:15'),(5,3,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-09 00:27:30'),(6,3,'鎶ヤ环涓?,'寰呭鎴风‘璁?,'绯荤粺绠＄悊鍛?,'璁㈠崟鐘舵€佹洿鏂帮細寰呭鎴风‘璁?,'2026-05-09 00:30:18'),(7,3,'寰呭鎴风‘璁?,'寰呰储鍔＄‘璁?,'绯荤粺绠＄悊鍛?,'璁㈠崟鐘舵€佹洿鏂帮細寰呰储鍔＄‘璁?,'2026-05-09 00:30:23'),(8,4,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-09 00:44:15'),(9,4,'鎶ヤ环涓?,'寰呭鎴风‘璁?,'绯荤粺绠＄悊鍛?,'璁㈠崟鐘舵€佹洿鏂帮細寰呭鎴风‘璁?,'2026-05-09 00:45:10'),(10,4,'寰呭鎴风‘璁?,'寰呰储鍔＄‘璁?,'绯荤粺绠＄悊鍛?,'璁㈠崟鐘舵€佹洿鏂帮細寰呰储鍔＄‘璁?,'2026-05-09 00:45:12'),(11,4,'寰呰储鍔＄‘璁?,'璐㈠姟宸叉敹娆?,'璐㈠姟','璐㈠姟纭宸叉敹娆?,'2026-05-09 00:45:36'),(12,4,'璐㈠姟宸叉敹娆?,'寰呮帓浜?,'璐㈠姟','璐㈠姟鏍稿鏃犺锛岃冻棰濆埌璐︼紝杩涘叆寰呮帓浜?,'2026-05-09 00:45:36'),(13,5,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-09 19:49:10'),(14,6,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-09 19:49:18'),(15,7,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-09 23:16:07'),(16,8,NULL,'鎶ヤ环涓?,'绯荤粺','鍒涘缓璁㈠崟','2026-05-10 08:01:43'),(17,3,'寰呰储鍔＄‘璁?,'璐㈠姟宸叉敹娆?,'璐㈠姟','璐㈠姟纭宸叉敹娆?,'2026-05-10 08:04:59'),(18,3,'璐㈠姟宸叉敹娆?,'寰呮帓浜?,'璐㈠姟','璐㈠姟鏍稿鏃犺锛岃冻棰濆埌璐︼紝杩涘叆寰呮帓浜?,'2026-05-10 08:04:59'),(19,8,'鎶ヤ环涓?,'寰呭鎴风‘璁?,'绯荤粺绠＄悊鍛?,'璁㈠崟鐘舵€佹洿鏂帮細寰呭鎴风‘璁?,'2026-05-10 08:05:16'),(20,8,'寰呭鎴风‘璁?,'寰呰储鍔＄‘璁?,'绯荤粺绠＄悊鍛?,'璁㈠崟鐘舵€佹洿鏂帮細寰呰储鍔＄‘璁?,'2026-05-10 08:05:22');
/*!40000 ALTER TABLE `workflow_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'gc_erp'
--

--
-- Dumping routines for database 'gc_erp'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-11 21:18:13
